<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ひなビタ♪BIOGRAPHY保管屋</title>
    <meta name="description" content="このサイトは、日向美ビタースイーツ♪のFacebookの内容を公式サイトのBIOGRAPHY風に表示した非公式サイトです。2012年11月から2018年4月のブログを読めますが、内容が一部異なる可能性があります。詳細は公式サイトをご覧ください。"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <link rel="manifest" href="/manifest.json"> -->
  </head>
  <body>
    <div id="app"></div>

    <!--
    <script type="text/javascript">
    // register service worker
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/serviceworker.js');
    }
    </script>
    -->
  </body>
</html>
